# Nix
# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*
.direnv/
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
# Fresh build directory
_fresh/
# npm dependencies
node_modules/
.pre-commit-config.yaml
