/*******************************************************************************
  Global Variables
********************************************************************************/
:root {
  --default-spacing: 1em;
  --default-font-size: 20px;
  --default-line-height: 32px;
  --default-radius: 10px;
  --default-border-size: 3px;

  /* Colors */
  --color-values-fg: 255, 255, 255;
  --color-values-bg: 47, 34, 0;
  --color-values-accent: 0, 255, 127;
  --primary-fg-color: rgb(var(--color-values-fg));
  --primary-bg-color: rgb(var(--color-values-bg));
  --primary-accent-color: rgb(var(--color-values-accent));
}

/*******************************************************************************
  Normalize
********************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

figcaption,
figure,
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

/* Form Resets */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

/*******************************************************************************
  Box-Sizing
********************************************************************************/
/* stylelint-disable-next-line no-duplicate-selectors */
html {
  box-sizing: border-box;
}
/* stylelint-disable-next-line no-duplicate-selectors */
*, *::before, *::after {
  box-sizing: inherit;
}

/*******************************************************************************
  Other Resets
********************************************************************************/
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* stylelint-disable-next-line no-duplicate-selectors */
fieldset {
  min-width: 0;
  border: 0;
}

/*******************************************************************************
  Single Direction Margins
********************************************************************************/
/* stylelint-disable-next-line  no-descending-specificity */
address,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: var(--default-spacing);
}
/* stylelint-disable-next-line  no-descending-specificity */
dd, ol, ul {
  margin-left: var(--default-spacing);
}

/*******************************************************************************
  Page Settings
********************************************************************************/
/* stylelint-disable-next-line no-duplicate-selectors */
html {
  font-size: var(--default-font-size); 
  line-height: var(--default-line-height);
  overflow-y: scroll;
  min-height: 100%;
}

/*******************************************************************************
  Elements
********************************************************************************/

/* Body ************************************************************************/
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  background-image: 
    linear-gradient(rgb(255 255 255 / 2%) .05em, transparent .1em),
    linear-gradient(90deg, rgb(255 255 255 / 2%) .05em, transparent .1em)
  ;
  background-size: 1em 1em;
  background-position: 50% 50%;
}

/* Headings ********************************************************************/
body, .article {
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.h1 {
  font-size: 2.85em;
  line-height: 1.1228em;
  margin-top: 0.5614em;
  margin-bottom: 1.1228em;
}

.h2 {
  font-size: 2em;
  line-height: 1.6em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.h3 {
  font-size: 1.4em;
  line-height: 1.1428em;
  margin-top: 1.1428em;
  margin-bottom: 0;
}

.h4 {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 1.6em;
  margin-bottom: 0;
}

.h5 {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 1.6em;
  margin-bottom: 0;
}

/* stylelint-disable-next-line  no-descending-specificity */
p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.6em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid var(--primary-fg-color);
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

/* stylelint-disable-next-line no-duplicate-selectors */
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* stylelint-disable-next-line no-duplicate-selectors */
sup {
  top: -0.5em;
}

/* stylelint-disable-next-line no-duplicate-selectors */
sub {
  bottom: -0.25em;
}

/*******************************************************************************
  Objects
********************************************************************************/

/* Footer Lock ****************************************************************/
.o-footer-lock {
  position: sticky;
  bottom: 0;
}

/*******************************************************************************
  Components
********************************************************************************/

/* Container *******************************************************************/
.c-container {
  padding-left: var(--default-spacing);
  padding-right: var(--default-spacing);
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

/* Text Input ******************************************************************/
.c-text-input {
  padding-bottom: var(--default-spacing);
}

.c-text-input > * + * {
  margin-top: var(--default-spacing);
}

.c-text-input__label {
  display: block;
}

.c-text-input__input {
  display: block;
  background-color: var(--primary-fg-color);
  color: var(--primary-bg-color);
  border: 0;
  border-radius: var(--default-radius);
  padding: var(--default-spacing);
  width: 100%;
}

/* Text Area *******************************************************************/
.c-text-area {
  padding-bottom: var(--default-spacing);
}

.c-text-area > * + * {
  margin-top: var(--default-spacing);
}

.c-text-area__label {
  display: block;
}

.c-text-area__textarea {
  display: block;
  background-color: var(--primary-fg-color);
  color: var(--primary-bg-color);
  border: 0;
  border-radius: var(--default-radius);
  padding: var(--default-spacing);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 30ex;
}

/* Radio Fieldset **************************************************************/
.c-radio-fieldset > * + *{
  margin-top: var(--default-spacing);
}

/* Radio Button ****************************************************************/
.c-radio-button {
  display: block;
}

.c-radio-button__input {
  display: none;
}

.c-radio-button__text {
  user-select: none;
  align-items: center;
  border-radius: 10px;
  padding: var(--default-spacing);
  border: var(--default-border-size) solid var(--primary-fg-color);
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  transition: color .2s,
    background-color .2s,
    transform .1s;
}

.c-radio-button__text:active {
  transform: scale(.95);
}

.c-radio-button__input:checked ~ .c-radio-button__text {
  background-color: var(--primary-fg-color);
  color: var(--primary-bg-color);
}

/* Button *********************************************************************/
.c-button {
  user-select: none;
  align-items: center;
  color: var(--primary-fg-color);
  background-color: var(--primary-bg-color);
  text-decoration: none;
  border-radius: var(--default-radius);
  padding: var(--default-spacing);
  border: var(--default-border-size) solid var(--primary-fg-color);
  display: flex;
  font-weight: bold;
  height: 100%;
  min-height: calc(var(--default-spacing) * 3 + 6px);
  justify-content: center;
  text-align: center;
  width: 100%;
  transition: color .2s,
    background-color .2s,
    transform .1s;
}

.c-button:hover {
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgba(var(--color-values-fg), .1);  /* Stylelint doesn't 
  know how to handle this interpolation. So disabling. */
}

.c-button:active {
  transform: scale(.98);
}

/* Button - Primary */
.c-button--primary {
  background-color: var(--primary-accent-color);
  border: none;
  color: var(--primary-bg-color);
}

.c-button--primary:hover {
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgba(var(--color-values-accent), .8);  /* Stylelint doesn't 
  know how to handle this interpolation. So disabling. */
}

/* Bottom Bar *****************************************************************/
.c-bottom-bar {
  padding-top: var(--default-spacing);
  padding-bottom: var(--default-spacing);
}

/* QR Code ********************************************************************/
.c-qr-code {
  padding: calc(var(--default-spacing) / 2);
}

/* Bar Graph ******************************************************************/
.c-bar-graph {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: var(--default-border-size) solid var(--primary-fg-color);
  padding-left: calc(var(--default-spacing) / 2);
  padding-bottom: calc(var(--default-spacing) / 2);
}

.c-bar-graph > * + * {
  margin-top: var(--default-spacing);
}

.c-bar-graph__content {
  font-weight: bold;
  padding-left: calc(var(--default-spacing) / 2);
}

.c-bar-graph__bar {
  background-color: var(--primary-accent-color);
  border-top-right-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
  height: calc(var(--default-spacing) * 2);
  margin-left: 0;
  margin-top: calc(var(--default-spacing) / 2);
}

/* Form Error *****************************************************************/
.c-form-error {
  font-weight: bold;
  color: red;
}
